<html>
<head>
    <title>title</title>
</head>
<body>

<p>Hello {{name}}</p>

<form action="/home" method="post">
    <input type="text" name="name" value="">
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>

</body>

